<% include ./partials/header.ejs %>
<form action="/supplyadd/<%= project._id %>?_method=PUT" method="POST">
  <div class="form-group" class="newSupplies">
	    <label for="supplies">Supplies</label>
	    <input class="form-control" type="text" name="supplies" id="suppliesField" placeholder="Supplies needed">
	    <span class="input-group-addon">-</span>
	    <input class="form-control" type="text" name="cost" id="costField" placeholder="Cost">
  	</div>
  
  <input class="btn btn-default" type="submit">
  
</form>

<a class="btn btn-default" href="/" role="button">Home</a>

<% include ./partials/footer.ejs %>