<% include ./partials/header.ejs %>

<form action="/flickresults" method="GET">
  <div class="form-group">
    <label for="search">Picture Search:</label>
    <input type="text" placeholder= "search term" class="form-control" id="search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<% include ./partials/footer.ejs %>