<% include ./partials/header.ejs %>



<div class="modal fade" tabindex="-1" role="dialog" id="flickrResultsModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
          	<h4 class="modal-title">Flickr Results</h4>
          </div>
          <div class="thumbnail">
            <% photoResults.forEach(function(photo) { %>
              <img src="<% photo %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
            <% }) %>
            
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveSong">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<% include ./partials/footer.ejs %>