<% include ./partials/header.ejs %>

<div class="container">
  <h2>Kitchen Remodel</h2>
  <div class="panel panel-default">
    <div class="panel-body">
    <h2>Create an Ideal Kitchen</h2>
    <p>
    	Today's kitchens serve as more than just places to cook up dinner. Modern kitchens are more and more often the home's central gathering place, an area where families socialize and spend time together as much as they actually sit down for meals. Kitchen makeovers are one of the most popular home remodels in the business for just this reason. From cabinetry to countertops, there's an entire world of kitchen design out there to make sure your kitchen makeovers not only update kitchen space in your home, but make your life easier and more enjoyable at the same time.
    </p>
    </div>
  </div>
</div>
<div class="container">
  <h2>Kitchen</h2>
  <p>Today's kitchens serve as more than just places to cook up dinner. Modern kitchens are more and more often the home's central gathering place, an area where families socialize.</p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Kitchen</button>
  <div id="demo" class="collapse">
  	<p>
  		Today's kitchens serve as more than just places to cook up dinner. Modern kitchens are more and more often the home's central gathering place, an area where families socialize and spend time together as much as they actually sit down for meals. Kitchen makeovers are one of the most popular home remodels in the business for just this reason. From cabinetry to countertops, there's an entire world of kitchen design out there to make sure your kitchen makeovers not only update kitchen space in your home, but make your life easier and more enjoyable at the same time.
  	</p>
    
  </div>
</div>

<% include ./partials/footer.ejs %>