<% include ./partials/header.ejs %>

<div class="container">
  <h2>Kitchen Remodel</h2>
  <div class="panel panel-default">
    <div class="panel-body">
    <h2>Create an Ideal Kitchen</h2>
    <p>
    	Today's kitchens serve as more than just places to cook up dinner. Modern kitchens are more and more often the home's central gathering place, an area where families socialize and spend time together as much as they actually sit down for meals. Kitchen makeovers are one of the most popular home remodels in the business for just this reason. From cabinetry to countertops, there's an entire world of kitchen design out there to make sure your kitchen makeovers not only update kitchen space in your home, but make your life easier and more enjoyable at the same time.
    </p>
    </div>
  </div>
</div>
<div class="container">
  <h2>Bathroom Remodel</h2>
  <div class="panel panel-default">
    <div class="panel-body">
    <h2>Create an ideal bathroom</h2>
    <p>
      The most prevalent bathroom trend is simple enough—bigger and better. Bathroom remodeling remains one of the most common home improvement projects, and there's no end in sight. These remodels can include knocking out walls to create more space. New home construction is continually upping the ante for bathroom size. Similarly, bathroom design is about maximizing the use of that space. If your bathroom hasn't been updated in a while, you may be surprised to find there's a whole new array of choices. Today's bathrooms are no longer utilitarian, but a showroom of their own.
    </p>
    </div>
  </div>
</div>
<div class="container">
  <h2>Outdoor Kitchens</h2>
  <div class="panel panel-default">
    <div class="panel-body">
    <h2>Awesome outdoor kitchens</h2>
    <p>
     Outdoor kitchens are not the new thing; they are the thing. Outdoor kitchens have been around for a while in the warmer states, where they can be used year round. But like every great idea, it caught, and even caught on in areas where these additions can't be enjoyed during all times of the year.

    These additions have survived the fad and they are here to stay, which makes them valuable selling points for your home, not to mention valuable living points while you reside there.

    What's even better is that since they have been around for a years, all the wrinkles have been ironed out, advances have been made, and now outdoor kitchens can be just as smooth as any other home addition.
    </p>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>