<% include ./partials/header.ejs %>
  
<form action="/projects" method="POST">
  <div class="form-group">
    <label for="newIdea">New Idea</label>
    <input class="form-control" type="text" name="newIdea" id="newIdea">
  </div>
 
  <input class="btn btn-default" type="submit">
  
</form>

<% include ./partials/footer.ejs %>
