<% include ./partials/header.ejs %>
  
<form action="/" method="POST">
  <div class="form-group">
    <label for="newIdea">New Idea</label>
    <input class="form-control" type="text" name="newIdea" id="newIdea">
  </div>
  <div class="form-group">
    <label for="budget">Budget</label>
    <input class="form-control" type="text" name="budget" id="budget">
  </div>
  <button id="addSupplies" type="button" class="btn btn-primary btn-md">Add Supplies</button>
  <div class="form-group" id="newSupplies">
    <label for="supplies">Supplies</label>
    <input class="form-control" type="text" name="supplies" id="suppliesField" placeholder="supply">
    <span class="input-group-addon">-</span>
    <input class="form-control" type="text" name="cost" id="costField" placeholder="Cost">
  </div>
  <input class="btn btn-default" type="submit">
  
</form>

<% include ./partials/footer.ejs %>
