<% include ./partials/header.ejs %>

	<a class="btn btn-default" href="/newdiy" role="button">New DIY Project</a>
	<a class="btn btn-default" href="/newpro" role="button">New DIY Project</a>
	<a class="btn btn-default" href="/" role="button">Go Back</a>

<% include ./partials/footer.ejs %>