<% include ./partials/header.ejs %>
	<button id="newDIYProject" type="button" class="btn btn-primary btn-lg">New DIY Project</button>
	<button id="newProProject" type="button" class="btn btn-primary btn-lg">New Pro Project</button>

<a href="/">Go back</a>
<% include ./partials/footer.ejs %>