<% include ./partials/header.ejs %>
  
<form action="/projectdetails" method="POST">
  <div class="form-group">
    <label for="newIdea">New Idea</label>
    <input class="form-control" type="text" name="newIdea" id="newIdea">
  </div>
  <div class="form-group">
    <label for="budget">Budget</label>
    <input class="form-control" type="text" name="budget" id="budget">
  </div>
  
  <input class="btn btn-default" type="submit">
  
</form>

<% include ./partials/footer.ejs %>
