<% include ./partials/header.ejs %>

	<a class="btn btn-default" href="/addsupplies" role="button">Add Supplies</a>
	<a class="btn btn-default" href="/yelpsearch" role="button">Get Quotes</a>
	<a class="btn btn-default" href="/" role="button">Go Back</a>

<% include ./partials/footer.ejs %>