
<% include ./partials/header.ejs %>

<%if (supplies.length === 0) { %>
	<div class="container">
		<h3>No current supplies for this project</h3>
	<div>
<% } else { %>
	<% for (var i = 0; i < supplies.length; i++) { %>
		<div class="container">
			<ul>
				<li class="list-group-item"><%= supplies[i].supplyName %>--$<%= supplies[i].cost %></li>
    			
			</ul>
		</div>
		
	<% } %>
<% } %>

<% include ./partials/footer.ejs %>