<% include ./partials/header.ejs %>

<a class="btn btn-default" href="/addsupplies" role="button">Add Supplies</a>
<a class="btn btn-default" href="/" role="button">Done with supplies</a>

<% include ./partials/footer.ejs %>