<% include ./partials/header.ejs %>

<form action="/yelpresults" method="GET">
  <div class="form-group">
    <label for="search">What you are looking for:</label>
    <input type="text" placeholder= "Type of contractor" class="form-control" id="search" name="search">
    <label for="search">Location:</label>
    <input type="text" placeholder= "Location" class="form-control" id="search" name="location">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<% include ./partials/footer.ejs %>