
.navbar .nav>li>a, .navbar .navbar-brand {
  color: #E91E63 !important;
}

.panel-body {
	background-color: #880E4F;
	color: #FCE4EC !important;
}
h2 {
	color: #FCE4EC;
}
.sectionTitles {
	color: #C2185B;
}

.btn-group-vertical {
	padding: 10px;
}
